VITE_SUPABASE_URL=https://tyteqqirifihgjeyveob.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR5dGVxcWlyaWZpaGdqZXl2ZW9iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQyNDU0NDQsImV4cCI6MjA3OTgyMTQ0NH0.dpvASNRf-JV_8Rt21yz8MKo4D_dATrZ_xngf4deMG_s